body{
background-image: url('../assets/comboCraft-start.jpg');  
background-size: cover;  
text-align: center;
background-repeat: no-repeat; 
background-position: center;
min-height: 100vh;
margin: 0;
}

h1{
    color: white;
    padding-top: 200px;
    font-size: 100px;
}

button{
    height: 100px;
    width: 400px;
    font-size: 40px;
}

/* add game intro */